.game h1{
    font-size: 2.5em;
}

.points span{
    font-weight:bold ;
}

.points{
    font-size: 1.5em;
}

.type span{
    color: #cefa00;
}

.wordLettersContainer{
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #cefa00;
    display: flex;
}

.wordLettersContainer span{
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.lettersContainer p{
    margin: 1.2em 0;

}

.lettersContainer form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lettersContainer input{
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}

.wordContainer{
    margin-top: 2em;
}

.wordContainer p{
    margin-bottom: 1.2em;
}

.wordContainer form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wordContainer input{
    height: 50px;
    width: 200px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}

.wrongLettersContainer p{
    margin-top: 2em;
}
